
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.bold{
  color: #ba0909 ;
  font-weight: 600;
}
.animate_shake {
  animation: headShake 1.5s infinite ;
}

@keyframes headShake {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }

  6.5% {
      -webkit-transform: translateX(-6px) rotateY(-9deg);
      transform: translateX(-6px) rotateY(-9deg)
  }

  18.5% {
      -webkit-transform: translateX(5px) rotateY(7deg);
      transform: translateX(5px) rotateY(7deg)
  }

  31.5% {
      -webkit-transform: translateX(-3px) rotateY(-5deg);
      transform: translateX(-3px) rotateY(-5deg)
  }

  43.5% {
      -webkit-transform: translateX(2px) rotateY(3deg);
      transform: translateX(2px) rotateY(3deg)
  }

  50% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }
}